<div ng-controller="rideImages">
    <form id="form" method="post" name="uploadImage" action="/addImagesToRide" enctype="multipart/form-data">

        <div class="profilePhoto">
            <div class="col-md-8">
                <h2>Please upload a photo of yours !</h2>
                Upload : <br><br><input  class="btn btn-lg btn-default" name="file" id="file" type= "file" required>
                <br>
                <input class="btn btn-lg btn-default click4" type="submit" value="Submit">
            </div>
        </div>

    </form>
</div>
