<html>
<head>
  <meta charset="utf-8">
  <title>Admin</title>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src="/controllers/admin.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <script src="http://code.jquery.com/jquery-1.4.min.js" type="text/javascript"></script>
    
<title>My Example</title>
<!-- Bootstrap 4 alpha CSS -->
<!-- IMPORTANT: Don't use this .css file in production. Use Bootstrap 3 until Bootstrap 4.0.0 is released. -->
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
<style type="text/css">
    
		
    
    <style>
  
			body{
				padding: 0;
				margin: 0;
                
			}
			#canvas-holder{
				width:100%;
			}
		</style>

    
</head>
<body ng-app="administrator" ng-controller="adminController">
    

  <div class="container">
    <div class="page-header">
      <h1>Administrator<small> | Dave Craig </small></h1>
    </div>

 
    
    <div class="row" style="min-height:100px;" >
      <div  class="col-sm-6 ">
        <h3>Requests</h3>
        <hr/>
 
        <div class="col-xs-4" > <!-- required for floating -->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-left">
            <li class="active"><a href="#home" data-toggle="tab">Driver Requests</a></li>
            <li><a href="#profile" data-toggle="tab">Customer Requests</a></li>
            
          </ul>
        </div>

          
        <div class="col-xs-7">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="home">
            
            	<div ng-repeat="driver in drivers" style="min-width:400px !important;">
            
                <div class="col-md-5">
                {{driver.number}}.{{driver.firstname}}&nbsp;{{driver.lastname}} 
                </div>
                <button type="submit" ng-click="update(driver.ssn)" class="btn btn-primary" style="margin-left:50px !important;">Add </button>
                <button type="button" class="btn btn-info">Deny </button> 
                <br><br>     
                 </div>            
             </div>     
              
            <div class="tab-pane" id="profile">
            
            	<div ng-repeat="customer in customers" style="min-width:400px !important;"> 
            	<div class="col-md-5"> 
             {{customer.number}}.{{customer.firstname}}&nbsp;{{customer.lastname}}
                    </div>
                <button type="submit" ng-click="update(customer.ssn)" class="btn btn-primary" style="margin-left:50px !important;">Add </button>
                <button type="button" class="btn btn-info">Deny </button> 
                  <br><br>
                 </div> 
                  
                
            
            
          </div>
        </div>

      

      
         </div> 
     
    </div>
      
    
     
     
     
    
      <div  class="col-sm-6">
        <h3>Review Drivers</h3>
        <hr/>
        <div class="col-xs-6">
          <!-- Tab panes -->
          <div class="tab-content">
              
                <div class="tab-pane active" id="home-r">
                    <div class="col-md-6">
                    DriverID 1 <br><br>
                    Firstname Lastname <br><br>
                    Address <br><br>
                    City <br><br>
                    State <br><br>
                    Zip Code<br><br>
                    Phone number <br><br>
                    Email <br><br>
                    Car Details <br><br>
                    Rating <br><br>
                    Reviews <br><br>
                    Introduction<br><br>
                    Ride History <br><br>
                    </div>
                     <div class="col-md-2">
                         <img src="" height="100" width="100">
                     </div>

                    </div>
            
                <div class="tab-pane" id="profile-r">
                
                
                    <div class="col-md-6">
                    DriverID 2<br><br>
                    Firstname Lastname <br><br>
                    Address <br><br>
                    City <br><br>
                    State <br><br>
                    Zip Code<br><br>
                    Phone number <br><br>
                    Email <br><br>
                    Car Details <br><br>
                    Rating <br><br>
                    Reviews <br><br>
                    Introduction<br><br>
                    Ride History <br><br>
                    </div>
                     <div class="col-md-2">
                         <img src="" height="100" width="100">
                     </div>

                </div>
                
              
              
                 <div class="tab-pane" id="messages-r">
                
                    <div class="col-md-6">
                    DriverID 3<br><br>
                    Firstname Lastname <br><br>
                    Address <br><br>
                    City <br><br>
                    State <br><br>
                    Zip Code<br><br>
                    Phone number <br><br>
                    Email <br><br>
                    Car Details <br><br>
                    Rating <br><br>
                    Reviews <br><br>
                    Introduction<br><br>
                    Ride History <br><br>
                    </div>
                     <div class="col-md-2">
                         <img src="" height="100" width="100">
                     </div>

                </div>
                
              
              
                 <div class="tab-pane" id="settings-r">
                
                    <div class="col-md-6">
                    DriverID 4<br><br>
                    Firstname Lastname <br><br>
                    Address <br><br>
                    City <br><br>
                    State <br><br>
                    Zip Code<br><br>
                    Phone number <br><br>
                    Email <br><br>
                    Car Details <br><br>
                    Rating <br><br>
                    Reviews <br><br>
                    Introduction<br><br>
                    Ride History <br><br>
                    </div>
                     <div class="col-md-2">
                         <img src="" height="100" width="100">
                     </div>

                 </div>
              
             </div> 
        </div>
          
              
        <div class="col-xs-3"> <!-- required for floating -->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-right">
            <li class="active"><a href="#home-r" data-toggle="tab">Driver 1</a></li>
            <li><a href="#profile-r" data-toggle="tab">Driver 2</a></li>
            <li><a href="#messages-r" data-toggle="tab">Driver 3</a></li>
            <li><a href="#settings-r" data-toggle="tab">Driver 4</a></li>
          </ul>
        </div>
          
      </div>
    
      
   
    
    
    
   
   
    
    

        <div class="row" style="min-height:100px;">
      <div  class="col-sm-6">
        <h3>Review Customers</h3>
        <hr/>
        <div class="col-xs-6">
          <!-- Tab panes -->
          <div class="tab-content">
              
                <div class="tab-pane active" id="home-a">
                    <div class="col-md-7">
                    CustomerID 1 <br><br>
                    Firstname Lastname <br><br>
                    Address <br><br>
                    City <br><br>
                    State <br><br>
                    Zip Code<br><br>
                    Phone number <br><br>
                    Email <br><br>
                    Car Details <br><br>
                    Rating <br><br>
                    Reviews <br><br>
                    Introduction<br><br>
                    Ride History <br><br>
                    </div>
                     <div class="col-md-2">
                         <img src="" height="100" width="100">
                     </div>

                </div>
              
            <div class="tab-pane" id="profile-a">
                
                
                    <div class="col-md-7">
                    CustomerID 2<br><br>
                    Firstname Lastname <br><br>
                    Address <br><br>
                    City <br><br>
                    State <br><br>
                    Zip Code<br><br>
                    Phone number <br><br>
                    Email <br><br>
                    Car Details <br><br>
                    Rating <br><br>
                    Reviews <br><br>
                    Introduction<br><br>
                    Ride History <br><br>
                    </div>
                     <div class="col-md-2">
                         <img src="" height="100" width="100">
                     </div>

                </div>
                
              
              
            <div class="tab-pane" id="messages-a">
                
                    <div class="col-md-7">
                    CustomerID 3<br><br>
                    Firstname Lastname <br><br>
                    Address <br><br>
                    City <br><br>
                    State <br><br>
                    Zip Code<br><br>
                    Phone number <br><br>
                    Email <br><br>
                    Car Details <br><br>
                    Rating <br><br>
                    Reviews <br><br>
                    Introduction<br><br>
                    Ride History <br><br>
                    </div>
                     <div class="col-md-2">
                         <img src="" height="100" width="100">
                     </div>

                </div>
                
              
              
            <div class="tab-pane" id="settings-a">
                
                    <div class="col-md-7">
                    CustomerID 4<br><br>
                    Firstname Lastname <br><br>
                    Address <br><br>
                    City <br><br>
                    State <br><br>
                    Zip Code<br><br>
                    Phone number <br><br>
                    Email <br><br>
                    Car Details <br><br>
                    Rating <br><br>
                    Reviews <br><br>
                    Introduction<br><br>
                    Ride History <br><br>
                    </div>
                     <div class="col-md-2">
                         <img src="" height="100" width="100">
                     </div>

                
              
              </div>
          </div>
        </div>
              
        <div class="col-xs-5"> <!-- required for floating -->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-right">
            <li class="active"><a href="#home-a" data-toggle="tab">Customer 1</a></li>
            <li><a href="#profile-a" data-toggle="tab">Customer 2</a></li>
            <li><a href="#messages-a" data-toggle="tab">Customer 3</a></li>
            <li><a href="#settings-a" data-toggle="tab">Customer 4</a></li>
          </ul>
        </div>
      </div>
    
       
    </div>
   
    
    
   
    <div  class="col-sm-6">
        <h3>Revenue - Day Wise</h3>
        <hr/>
        
        <div class="col-xs-9">
          <!-- Tab panes -->
          <div class="tab-content">
              <div id="chart"></div>
             	
            
        
      </div>
    </div>
  </div>
    
    
    
    
     <div  class="col-sm-6">
        <h3>Revenue - Area Wise</h3>
        <hr/>
        <div class="col-xs-6">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="home-vr">Cupertino.
                
              </div>
            <div class="tab-pane" id="profile-vr">Los Gatos.
           </div>
            <div class="tab-pane" id="messages-vr">Silver Creek</div>
            <div class="tab-pane" id="settings-vr">Almaden.
              </div>
          </div>
        </div>

        <div class="col-xs-3"> <!-- required for floating -->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-right sideways">
            <li class="active"><a href="#home-vr" data-toggle="tab">Cupertino
                </a></li>
            <li><a href="#profile-vr" data-toggle="tab">Los Gatos</a></li>
            <li><a href="#messages-vr" data-toggle="tab">Silver Creek</a></li>
            <li><a href="#settings-vr" data-toggle="tab">Almaden</a></li>
          </ul>
        </div>
      </div>

  

   
   <div class="row">
      <div  class="col-sm-6">
        <h3>Ride - Area Wise </h3>
        <hr/>
        <div class="col-xs-3"> <!-- required for floating -->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-left sideways">
            <li class="active"><a href="#home-v" data-toggle="tab">Cupertino</a></li>
            <li><a href="#profile-v" data-toggle="tab">Almaden</a></li>
            <li><a href="#messages-v" data-toggle="tab">Los Gatos</a></li>
            <li><a href="#settings-v" data-toggle="tab">Silver Creek</a></li>
              <li><a href="#settings-v" data-toggle="tab">Willow Glen</a></li>
          </ul>
        </div>

      <div class="col-xs-4">
          <!-- Tab panes -->
        <div class="tab-content">
              <div class="tab-pane active" id="home-v">Cupertino
              </div>
            
              <div class="tab-pane" id="profile-v">Almaden
              <div style="width: 100%">
			  <canvas id="canvas" height="500" width="800"></canvas>
		      </div></div>
            
              <div class="tab-pane" id="messages-v">Los Gatos
              <div style="width: 100%">
			  <canvas id="canvas" height="500" width="800"></canvas>
		      </div></div>
            
              <div class="tab-pane" id="settings-v">Silver Creek
              <div style="width: 100%">
			  <canvas id="canvas" height="500" width="800"></canvas>
		      </div></div>
            
            <div class="tab-pane" id="settings-v">Willow Glen
              <div style="width: 100%">
			  <canvas id="canvas" height="500" width="800"></canvas>
		      </div></div>
            
          </div>
        </div>
</div>
    
     <div  class="col-sm-6">
        <h3> Rides - Area Wise</h3>
        <hr/>
        <div class="col-xs-6">
          <!-- Tab panes -->
            
            <div id="canvas-holder">
			<canvas id="chart-area" width="300" height="300"/>
		    </div>   
         </div>
       </div>
        </div>
       <br><br>
    
<div class="row">
 <div  class="col-sm-6">
        <h3> Rides - Driver Wise</h3>
        <hr/>
        <div class="col-xs-6">
          <!-- Tab panes -->
            
            <div id="canvas-holder">
			<canvas id="chart-area" width="300" height="300"/>
		</div>   
         </div>
       </div>
    
 

    
    
     
      <div  class="col-sm-6">
        <h3> Rides - Customer Wise</h3>
        <hr/>
        <div class="col-xs-6">
          <!-- Tab panes -->
            
            
         </div>
       </div>
       </div>
    <div  class="col-sm-7">
        <h3>Search Bill</h3>
        <hr/>
    
        
    <div class="tabbable" style="margin-bottom: 18px;">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Bill Attribute 1</a></li>
            <li class=""><a href="#tab2" data-toggle="tab">Bill Attribute 2</a></li>
            <li class=""><a href="#tab3" data-toggle="tab">Bill Attribute 3</a></li>
            <li class=""><a href="#tab4" data-toggle="tab">Bill Attribute 4</a></li>
          </ul>
        
        <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
            <div class="tab-pane active" id="tab1" >
              <br><br>
                <button type="button" class="btn btn-warning">Search by Attribute 1</button>
            </div>
            <div class="tab-pane" id="tab2">
              <br><br>
                <button type="button" class="btn btn-warning">Search by Attribute 2</button>
            </div>
            <div class="tab-pane" id="tab3">
                <br><br>
              <button type="button" class="btn btn-warning">Search by Attribute 3</button>
            </div>
            <div class="tab-pane" id="tab4">
                <br><br>
                <button type="button" class="btn btn-warning">Search by Attribute 4</button>
            </div>
            <br>
            <br>
        </div>
        
   
       
    


	<br><br>
  <footer class="footer" style="width:100%; text-align:center; padding-bottom:20px;">
  
   
    
  </footer>
        
   
        
        
    
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    
        
        <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Bootstrap 4 Alpha JS -->
<!-- IMPORTANT: Don't use this .js file in production. Use Bootstrap 3 until Bootstrap 4.0.0 is released. -->
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script> 
    
      
     
</body>
</html>