<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Login - Rider</title>
        <link rel="stylesheet" href="/stylesheets/login.css" type="text/css">
        <link rel="stylesheet" href="/stylesheets/uber-icons.css" type="text/css">
        <link rel="stylesheet" href="/stylesheets/superfine.css" type="text/css">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script type="text/javascript" src="/controllers/loginDriver.js"></script> 
    </head>
    <body ng-app="loginDriver" ng-controller="loginDriverController">
    	<div class="main">    		
    		<div class="icon-item text--center">
    			 <a href="https://www.uber.com/">
    			 	<i class="icon icon_uber push-large--top push--bottom">
            	    </i>
    			 </a>
    		</div>
    		<p class="primary-font background-line push-small--top push--bottom">
				<span>Sign In</span>
			</p>
			
			<form class="form" novalidate="">				
				
				<div class="form-group push--bottom">
       				<label class="label" for="username">Email</label>
      				<input type="email" class="text-input" name="username" placeholder="Email Address" id="username" ng-model="email"/>
    			</div>
    
			    <div class="form-group push--bottom">
			      	<label class="label" for="password">Password</label>
			      	<input type="password" class="text-input" name="password" placeholder="Password" id="password" ng-model="password"/>
			    </div>
			    
			    <div class="form-group push--bottom">
			      	<input type="checkbox" id="checkbox-rememberme" class="hidden" checked />
			      	<label class="checkbox" for="checkbox-rememberme">
			      	  Remember Me
			      	</label>
			      	<span class="rememberme_forgetpassword_separator">&#8226;</span>
      				<a class="btn btn--link btn--no-padding" href="https://login.uber.com/forgot-password">
       					Forgot Password
      				</a>
			    </div>
    			
    			<button class="btn btn--huge btn--full" type="submit" ng-click="signin()">Sign In</button>  
  			</form>
  
  		<hr class="push--top"/>
  		<p class="text--center">
    		Don&#39;t have an account?
    		<a class="btn btn--link btn--no-padding" href="https://get.uber.com/go/">
      			Sign Up
    		</a>
  		</p>
    	</div>	

    </body>
</html>
