<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Login - Rider</title>
        <link rel="stylesheet" href="/stylesheets/login.css" type="text/css">
        <link rel="stylesheet" href="/stylesheets/uber-icons.css" type="text/css">
        <link rel="stylesheet" href="/stylesheets/superfine.css" type="text/css">
    </head>
    <body>
    	<div class="main">    		
    		<div class="icon-item text--center">
    			 <a href="https://www.uber.com/">
    			 	<i class="icon icon_uber push-large--top push--bottom">
            	    </i>
    			 </a>
    		</div>
    		<p class="primary-font background-line push-small--top push--bottom">
				<span>Sign In</span>
			</p>
			
			<form class="form" novalidate="" method="post">
				<a href="#" class="btn btn--full btn--facebook push-tiny--top" data-js="facebook-connect">
         			 <span class="push--ends flush">Connect with Facebook</span>
     			 </a>
     			 
     			 <p class="primary-font background-line push--top push--bottom">
					<span>or use email</span>
				</p>
				
				<div class="form-group push--bottom">
       				<label class="label" for="email">Email</label>
      				<input type="email" class="text-input" name="email" placeholder="Email Address" value="" id="email" />
    			</div>
    
			    <div class="form-group push--bottom">
			      	<label class="label" for="password">Password</label>
			      	<input type="password" class="text-input" name="password" placeholder="Password" id="password"/>
			    </div>
			    
			    <div class="form-group push--bottom">
			      	<input type="checkbox" id="checkbox-rememberme" class="hidden" checked />
			      	<label class="checkbox" for="checkbox-rememberme">
			      	  Remember Me
			      	</label>
			      	<span class="rememberme_forgetpassword_separator">&#8226;</span>
      				<a class="btn btn--link btn--no-padding" href="https://login.uber.com/forgot-password">
       					Forgot Password
      				</a>
			    </div>
    			
    			<button class="btn btn--huge btn--full" type="submit">Sign In</button>  
  			</form>
  
  		<hr class="push--top"/>
  		<p class="text--center">
    		Don&#39;t have an account?
    		<a class="btn btn--link btn--no-padding" href="https://get.uber.com/go/">
      			Sign Up
    		</a>
  		</p>
    	</div>				      
    </body>
</html>
