<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Login</title>
        <link rel="stylesheet" href="stylesheets/login.css" type="text/css">
        <link rel="stylesheet" href="stylesheets/uber-icons.css" type="text/css">
        <link rel="stylesheet" href="stylesheets/superfine.css" type="text/css">
    </head>
    <body>
    	<div class="main">    		
    		<div class="icon-item text--center">
    			 <a href="https://www.uber.com/">
    			 	<i class="icon icon_uber push-large--top push--bottom icon-font">
            	    </i>
    			 </a>
    		</div>
    		
			<p class="primary-font background-line push-small--top push--bottom title login-home-font">
				<span>Log In</span>
			</p>
			
			<a class="btn btn--huge btn--full login-home-font login-home-button-size" href="/loginCustomer">LOG IN AS A RIDER</a>
			<br/>
			<br/>
			<a class="btn btn--huge btn--full driverButton login-home-font login-home-button-size" href="/loginDriver">LOG IN AS A DRIVER</a>
		</div>
	</body>
</html>  