<!DOCTYPE html>
<html> 
<head>
 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
  <title>Google Maps API v3 Directions Example</title> 
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script src="/controllers/maps_f.js"></script>
  <script src="/controllers/maps_ct.js"></script>
  <script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
  <link rel='stylesheet' href='./stylesheets/style2.css' />   
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <style>
  .hidden{
		visibility : hidden !important;
	}
  </style>
	  
<body ng-app="maps" style="font-family: Arial; font-size: 12px;">
<div id="slide-menu-content" class="slide-menu__content height--full">

   <div id="trip-e0a4ee83-d5c7-404a-a1f2-2d7512da4c57" class="collapse in">
   <div class="trip-expand trip-expand--completed">
      <div id="trip-map-e0a4ee83-d5c7-404a-a1f2-2d7512da4c57">
       <div id="map" style="width: 300px; height: 300px; float: left;"></div>
      </div>
  
      </br>
      <div ng-controller="sendData">
            <form id="form" >
            
            <div class="flexbox__item one-third lap-one-half separated--left soft-double--left hidden--palm">
              <div class="btn-group btn-group--bordered btn-group--joined inline-group">

                <div class="form-style-2">
                <div class="form-style-2-heading">Provide your information</div>
                      <form method="post">
                        <label for="field1"><span>Origin <span class="required">*</span></span><input type="text" style="width:25em" placeholder="Search Box" autocomplete="on" id="searchTextField" class="orig input-field"/></label>
                        <label for="field2"><span>Destination <span class="required">*</span></span><input type="text" style="width:25em" id="searchTextField2" class="dest input-field" placeholder="Search Box" autocomplete="on"/></label>
						<label for="field1"><span>Distance </span><input type="text" id="dist" class="input-field" disabled/></label>
                        <label for="field1"><span>Duration </span><input type="text" id="dur" class="input-field" disabled/></label>
                        
                </div>
                  
                <div class="trip-info-tools">
                   <input type="Submit" ng-click="submit2();" class="btn btn--primary" value="Display Drivers"/><br></br>
                                  
                  </form>
                  
                  <button ng-click="submit();" class="btn btn--primary"  value="Request Ride">Request Ride</button>

                  <div ng-controller='LevelCtrl'>
                  <label for="field1">DRIVERS Selected: <h2 data-ng-model="driver_ssn" value="{{srv.level.id}}" ng-bind-template='{{srv.level.id}}'></h2></label>
                  <label for="field1"><select  id="driver_ssn" class="form-control" name="level" ng-model="srv.level.id" ng-options="level.ssn as level.ssn for level in data.getLevels() ">
                    <option value='0'>--SELECT Driver--</option>
                  </select></label>
                  </div>

                  <button type="button" ng-click="estimate();" class="btn btn--primary"  data-toggle="modal" data-target="#myModal">Estimate Cost</button>
                 
                  <!-- Modal for estimate click -->
                  <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                      </div>
                      <div class="modal-body">
                        <p>Some text in the modal.</p>
                      </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                    
                  </div>
                  </div>
                  <!-- Modal ends -->
                
                </div>
              </div>
              </form>
            </div>
            <a href="/customerDashboard">Go Back<a>
            
            
      </div>
    </div>
    </div>
    

</div>

<!-- Socket script below -->
<p></p>

<div id="dialog-message" class="hidden" title="Ride Started">
	  <p>
	    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
	    	Your Uber driver is on the way!
	  </p>
</div>

 <div id="dialog-message2" class="hidden" title="Ride Ended">
	  <p>
	    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
	    	Thank you for Riding with Uber. Your Ride has ended. Have a great day!
	  </p>
</div>

<div class="hidden" id="startRideDiv">
	<p>
		Your Ride has Started.
	</p>
</div>

<div class="hidden" id="startNewRideDiv">
	<p>
		Your Ride has Ended. Please go to the request new rides page to ride again with Uber! Redirecting to submit feedback...
	</p>
</div>
<!-- Socket script ends -->

</body> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDihfOVNgztmzA89BEbC8h4NdjXAeCZO-w&libraries=places&callback=initAutocomplete"
         async defer></script>

</html>
