<div ng-controller="rideController">
	<div class="container" style="padding-top: 60px;">
  <div class="row">
    <h1 class="page-header">Rides</h1>
    <div class="col-md-3 col-sm-6 col-xs-12 personal-info">    
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">REQUEST RIDE</label>
          <div class="col-lg-8">
          <input class="btn btn-primary" value="REQUEST" type="submit" ng-click="requestRide()">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">ESTIMATE RIDE COST</label>
          <div class="col-lg-8">
          <input class="btn btn-primary" value="ESTIMATE" type="submit" ng-click="estimateRide()">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>