<!DOCTYPE HTML>
<html>

<head>
	<Title>Signup</Title>
    <link rel="stylesheet" href="/stylesheets/uber-icons.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/superfine.css" type="text/css">
	<link rel="stylesheet" href="/stylesheets/Signup.css">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script type="text/javascript" src="/controllers/signupCustomer.js"></script>    
</head>
<body  ng-app="signupCustomer" ng-controller="signupCustomerController">
<section class="wrapper">
	<header class="contextual">
		<a href="http://localhost:3000">
	    	<i class="icon icon_uber push-large--top push--bottom"></i>
	 	</a>
	</header>

	<section class="content ">
		<div class="signup-wrapper">
			<section class="signup-top">
				<div class="signup-top-images">
					<div class="signup-top-phones"></div>
				</div>
				<div class="signup-top-text">
					<div class="signup-top-text-title"> Sign Up to Ride </div>
					<div class="signup-top-text-subtitle">
						<p>Welcome to Uber, the easiest way to get around at the tap of a button.</p>
						<p>Create your account and get moving in minutes.</p>
					</div>
				</div>
			</section>
			<section class="signup-form" name="myForm">
				<article class="form-container">
					<form class="form-vertical" autocomplete="on">
						<div class="signup-form-section account">
							<div class="signup-form-section-title">
								<p>Account</p>
							</div>
							<div class="signup-form-section-required">Required</div>
							<div class="signup-form-section-number blue">1</div>
							<div class="signup-form-section-line blue"></div>
							<div class="form-group required ">
								<label for="username">Email</label>
								<input id="username" type="email" placeholder="name@example.com" name="username" ng-model="email" required>
								<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
								<span ng-show="myForm.email.$error.required">Email is required.</span>
								<span ng-show="myForm.email.$error.email">Invalid email address.</span>
								</span>
								<div class="error-notice"></div>
							</div>
							<div class="form-group required ">
								<label for="password">Password</label>
								<input id="password" type="password" placeholder="At least 5 characters" name="password" ng-model="password" required>
								<span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
								<span ng-show="myForm.user.$error.required">Password is required.</span>
								<div class="error-notice"></div>
							</div>
						</div>
						
						<div class="signup-form-section profile">
							<div class="signup-form-section-title">
								<p>Profile</p>
							</div>
							<div class="signup-form-section-number blue">2</div>
							<div class="signup-form-section-line  blue"></div>
							<div class="form-group required ">
								<label for="name">Name</label>
								<div class="row form-row">
									<div class="col-md-6 col-xs-6 md-push-right-half sm-push-right-half xs-push-right-half">
										<input id="firstname" type="text" placeholder="First Name" name="firstname" ng-model="firstname" required>
										<span style="color:red" ng-show="myForm.firstname.$dirty && myForm.firstname.$invalid">
										<span ng-show="myForm.firstname.$error.required">Password is required.</span>
										<div class="error-notice"></div>
									</div>
									<div class="col-md-6 col-xs-6 md-push-left-half xs-push-left-half">
										<input id="lastname" type="text" placeholder="Last Name" name="lastname" ng-model="lastname">
										<div class="error-notice"></div>
									</div>
								</div>
							</div>
							<div class="form-group js-mobile-country required mobile-number">
								<label for="mobile">Mobile Number</label>
								<input id="mobile" type="tel" placeholder="(201) 555-5555" name="mobile" ng-model="mobileno" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required/>
								<div ng-messages="myForm.mobile.$error">
								  <div ng-message="required">This field is required</div>
								  <div ng-message="pattern">Must be a valid 10 digit phone number</div>
								<div class="error-notice"></div>
							</div>
						</div>
						
						<div class="signup-form-section payment">
							<div class="signup-form-section-title">
								<p>Payment</p>
							</div>
							<div class="signup-form-section-number blue">3</div>
							<div class="signup-form-section-line blue"></div>
							
							<div class="credit-card-info">
							    <div class="row form-row">
							        <div class="col-md-9 col-xs-9 xs-push-right-half">
							            <div class="form-group required ">
							                <label for="card_number">Credit Card Number</label>
							                <input id="card_number" type="tel" placeholder="1234 5678 9012 3456" name="card_number" ng-model="cardno" ng-minlength="16" ng-maxlength="16" required>
							                <div class="credit-card-icon"></div>
							                <div ng-messages="myForm.card_number.$error">
											  <div ng-message="required">This field is required</div>
											  <div ng-message="minlength">Number must be under 16 characters</div>
											  <div ng-message="maxlength">Number must not exceed 16 characters</div>
											</div>
							                <div class="error-notice"></div>
							            </div>
							        </div>
							        <div class="col-md-3 col-xs-3 xs-push-left-half">
							            <div class="form-group required ">
							                <label for="card_code">CVV</label>
							                <input id="card_code" type="tel" placeholder="123" name="card_code" ng-model="cvv" required>
							                <div ng-messages="myForm.card_code.$error">
											  <div ng-message="required">This field is required</div>
											</div>
							                <div class="error-notice"></div>
							            </div>
							        </div>
							    </div>
							    <div class="form-group required">
							        <div class="row form-row">
							            <div class="col-md-8 col-xs-12 full-row-xs">
							                <label for="card_expiration">Expiration Date</label>
							                <div class="row form-row">
							                    <div class="col-md-6 col-xs-6 xs-push-right-half col-xs-row">
							                        <select id="card_expiration_month-month" class="gray" name="card_expiration_month" ng-model="exp_month">
							                            <option selected="" disabled="" label="month" value="">month</option>
							                            <option label="1" value="1"> 1 </option>
							                            <option label="2" value="2"> 2 </option>
							                            <option label="3" value="3"> 3 </option>
							                            <option label="4" value="4"> 4 </option>
							                            <option label="5" value="5"> 5 </option>
							                            <option label="6" value="6"> 6 </option>
							                            <option label="7" value="7"> 7 </option>
							                            <option label="8" value="8"> 8 </option>
							                            <option label="9" value="9"> 9 </option>
							                            <option label="10" value="10"> 10 </option>
							                            <option label="11" value="11"> 11 </option>
							                            <option label="12" value="12"> 12 </option>
							                        </select>
							                    </div>
							                    <div class="col-md-6 col-xs-6 xs-push-left-half col-xs-row">
							                        <select id="card_expiration_year-year" class="gray" name="card_expiration_year" ng-model="exp_year">
							                            <option selected="" disabled="" label="year" value="">year</option>
							                            <option label="2015" value="2015"> 2015 </option>
							                            <option label="2016" value="2016"> 2016 </option>
							                            <option label="2017" value="2017"> 2017 </option>
							                            <option label="2018" value="2018"> 2018 </option>
							                            <option label="2019" value="2019"> 2019 </option>
							                            <option label="2020" value="2020"> 2020 </option>
							                            <option label="2021" value="2021"> 2021 </option>
							                            <option label="2022" value="2022"> 2022 </option>
							                            <option label="2023" value="2023"> 2023 </option>
							                            <option label="2024" value="2024"> 2024 </option>
							                            <option label="2025" value="2025"> 2025 </option>
							                            <option label="2026" value="2026"> 2026 </option>
							                            <option label="2027" value="2027"> 2027 </option>
							                            <option label="2028" value="2028"> 2028 </option>
							                            <option label="2029" value="2029"> 2029 </option>
							                            <option label="2030" value="2030"> 2030 </option>
							                            <option label="2031" value="2031"> 2031 </option>
							                            <option label="2032" value="2032"> 2032 </option>
							                            <option label="2033" value="2033"> 2033 </option>
							                            <option label="2034" value="2034"> 2034 </option>
							                        </select>
							                    </div>
							                </div>
							            </div>
							            <div class="col-md-4 col-xs-12">
							                <label for="billing_zip">Postal Code</label>
							                <input id="billing_zip" type="text" placeholder="94103" name="billing_zip" ng-model="postalcode">
							                <div class="error-notice"></div>
							            </div>
							        </div>
							    </div>
							</div>
						</div>
						
						<div class="signup-form-section payment">
							<div class="signup-form-section-title">
								<p>Social Security Number</p>
							</div>
							<div class="signup-form-section-number blue">4</div>
							<div class="signup-form-section-line blue"></div>
							
							<div class="credit-card-info">
							            <div class="form-group required ">
							                <label for="ssn_number">SSN#</label>
							                <input id="ssn_number" type="text" placeholder="AAA-GG-SSSS" name="ssn_number" ng-model="ssn" ng-minlength="9" ng-maxlength="9">
							                <div ng-messages="myForm.ssn_number.$error">
											  <div ng-message="required">This field is required</div>
											  <div ng-message="minlength">Number must be under 16 characters</div>
											  <div ng-message="maxlength">Number must not exceed 16 characters</div>
											</div>
							                <div class="error-notice"></div>
							            </div>						    
							</div>
						</div>
						
						<div class="signup-form-section submit ">
							<div class="col-md-12">							
								<div class="form-group">
									<button class="btn btn-primary js-submit" type="submit" ng-click="signup()" ng-disabled="	myForm.email.$dirty && myForm.email.$invalid">Create Account</button>
								</div>
								<div class="signup-form-section-notice">
									Please fill out all required (
									<span class="star">*</span>
									) fields.
								</div>
							</div>
							<div class="signup-form-section-number  blue"></div>
						</div>
						
						
						<div class="form-group agree-terms">
							<p>
								By clicking "Create Account" , you agree to Uber's
								<a href="https://www.uber.com/legal/terms">Terms and Conditions</a>
								and
								<a href="https://www.uber.com/legal/privacy">Privacy Policy</a>
								.
							</p>
						</div>
						
					</form>
				</article>
			</section>
		</div>
	</section>



</section>
</body>
</html>

