<!DOCTYPE HTML>
<html>
<head>
	<Title>Signup Driver</Title>
    <link rel="stylesheet" href="/stylesheets/uber-icons.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/superfine.css" type="text/css">
	<link rel="stylesheet" href="/stylesheets/Signup.css">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/controllers/signupDriver.js"></script> 
</head>

<body ng-app="signupDriver" ng-controller="signupDriverController">
<script>
	function isNumberOnly(num) {
	    var keyCode = (num.which) ? num.which : event.keyCode
	    if (keyCode > 31 && (keyCode != 46 &&(keyCode < 48 || keyCode > 57))) {
	      return false;
	    } else {
	      return true;
	    }
	}

</script>
<section class="wrapper">
	<header class="contextual">
		<a href="https://www.uber.com/">
	    	<i class="icon icon_uber push-large--top push--bottom"></i>
	 	</a>
	</header>

	<section class="content ">
		<div class="signup-wrapper">
			<section class="signup-top">
				<div class="signup-top-images">
					<div class="signup-top-phones"></div>
				</div>
				<div class="signup-top-text">
					<div class="signup-top-text-title"> Sign Up to Drive </div>
					<div class="signup-top-text-subtitle">
						<p class="inner-text">Drive with Uber and earn great money as an independent contractor.</p>
						<p class="inner-text">Get paid weekly just for helping our community of riders get rides around town. Be your own boss and get paid in fares for driving on your own schedule.</p>
					</div>
				</div>
			</section>
			<section class="signup-form" name="myForm">
				<article class="form-container">
					<form class="form-vertical" autocomplete="on">
						<div class="signup-form-section account">
							<div class="signup-form-section-title">
								<p>Account</p>
							</div>
							<div class="signup-form-section-required">Required</div>
							<div class="signup-form-section-number blue">1</div>
							<div class="signup-form-section-line blue"></div>
							<div class="form-group required">
								<label for="username">Email</label>
								<input id="username" type="email" placeholder="name@example.com" name="username" ng-model="email" required>
								<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
								<span ng-show="myForm.email.$error.required">Email is required.</span>
								<span ng-show="myForm.email.$error.email">Invalid email address.</span>
								</span>
							</div>
							<div class="form-group required ">
								<label for="password">Password</label>
								<input id="password" type="password" placeholder="At least 5 characters" name="password" ng-model="password" required>
								<span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
								<span ng-show="myForm.user.$error.required">Password is required.</span>
							</div>
						</div>
						
						<div class="signup-form-section profile">
							<div class="signup-form-section-title">
								<p>Profile</p>
							</div>
							<div class="signup-form-section-number blue">2</div>
							<div class="signup-form-section-line  blue"></div>
							<div class="form-group required ">
								<label for="name">Name</label>
								<div class="row form-row">
									<div class="col-md-6 col-xs-6 md-push-right-half sm-push-right-half xs-push-right-half">
										<input id="firstname" type="text" placeholder="First Name" name="firstname" ng-model="firstname" required>
										<span style="color:red" ng-show="myForm.firstname.$dirty && myForm.firstname.$invalid">
										<span ng-show="myForm.firstname.$error.required">First Name is required.</span>
									</div>
									<div class="col-md-6 col-xs-6 md-push-left-half xs-push-left-half">
										<input id="lastname" type="text" placeholder="Last Name" name="lastname" ng-model="lastname">
										<div class="error-notice"></div>
									</div>
								</div>
							</div>
							<div class="form-group js-mobile-country required mobile-number">
								<label for="mobile">Mobile Number</label>
								<input id="mobile" type="tel" placeholder="(201) 555-5555" name="mobile" ng-model="mobileno" onkeypress="return isNumberOnly(event)" required/>
								<div ng-messages="myForm.mobile.$error">
								  <div ng-message="pattern">Must be a valid 10 digit phone number</div>
							</div>
							
							<div class="form-group required">
								<label for="Address">Address</label>
								<input id="addressLineOne" type="text" placeholder="Address Line #1" name="Address1" ng-model="address" required>
								<!--span style="color:red" ng-show="myForm.Address1.$dirty && myForm.Address1.$invalid">
								<span ng-show="myForm.Address1.$error.required">Address is required.</span-->
								<br/><br/>
								<input id="city" type="text" placeholder="city" name="city" ng-model="city">
								<br/><br/>
								<div class="row form-row">
									<div class="col-md-6 col-xs-6 md-push-right-half sm-push-right-half xs-push-right-half">
										<input id="state" type="text" placeholder="State" name="state" ng-model="state" required>
										<span style="color:red" ng-show="myForm.state.$dirty && myForm.state.$invalid">
										<span ng-show="myForm.state.$error.required">State is required.</span>
									</div>
									<div class="col-md-6 col-xs-6 md-push-left-half xs-push-left-half">
										<input id="zipcode" type="text" placeholder="Zipcode" name="zipcode" ng-model="postalcode" onkeypress="return isNumberOnly(event)">
										<span style="color:red" ng-show="myForm.zipcode.$dirty && myForm.zipcode.$invalid">
										<span ng-show="myForm.zipcode.$error.required">Zip Code is required.</span>
									</div>
								</div>
							</div>
							
						</div>
						
						<div class="signup-form-section payment">
							<div class="signup-form-section-title">
								<p>Social Security Number</p>
							</div>
							<div class="signup-form-section-number blue">3</div>
							<div class="signup-form-section-line blue"></div>
							
							<div class="credit-card-info">
							            <div class="form-group required ">
							                <label for="ssn_number">SSN#</label>
							                <input id="ssn_number" type="text" placeholder="111-22-3333" name="ssn_number" ng-model="ssn" required>
							                <span style="color:red" ng-show="myForm.ssn_number.$dirty && myForm.ssn_number.$invalid">
										<span ng-show="myForm.ssn_number.$error.required">9 digit SSN is required.</span>
							            </div>						    
							</div>
							
						</div>
						
						<div class="signup-form-section payment">
							<div class="signup-form-section-title">
								<p>Drivers License Number</p>
							</div>
							<div class="signup-form-section-number blue">4</div>
							<div class="signup-form-section-line blue"></div>
							
							<div class="credit-card-info">
							            <div class="form-group required ">
							                <label for="dl_number">License#</label>
							                <input id="dl_number" type="text" placeholder="########" name="dl_number" ng-model="dlno">
							                <span style="color:red" ng-show="myForm.dl_number.$dirty && myForm.dl_number.$invalid">
										<span ng-show="myForm.dl_number.$error.required">Drivers License is required.</span>
							            </div>						    
							</div>
							
						</div>
						
						<div class="signup-form-section submit ">
							<div class="col-md-12">							
								<div class="form-group">
									<button class="btn btn-primary js-submit" type="submit" ng-click="signup()">Create Account</button>
								</div>
								<div class="signup-form-section-notice">
									Please fill out all required (<span class="star">*</span>) fields.
								</div>
							</div>
							<div class="signup-form-section-number  blue"></div>
						</div>
						
						
						<div class="form-group agree-terms">
							<p>
								By clicking "Create Account" , you agree to Ubers
								<a href="https://www.uber.com/legal/terms">Terms and Conditions</a>
								and
								<a href="https://www.uber.com/legal/privacy">Privacy Policy</a>
								.
							</p>
						</div>
						
					</form>
				</article>
			</section>
		</div>
	</section>
</section>
</html>
