<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script
		src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<div class="container" style="padding-top: 60px;">
  <div class="row">
    <h1 class="page-header">Payment Method</h1>
    <!-- left column -->
    <!-- edit form column -->
    <div class="col-md-3 col-sm-6 col-xs-12 personal-info">
    
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Credit Card:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" placeholder="Credit Card" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Expiration:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" placeholder="Expiration" type="date">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">CVV:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" placeholder="CVV" type="number">
          </div>
        </div>
         <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Update Payment" type="button">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>