<div class="container" ng-controller="driverSummaryController" ng-init="getDriverSummary()">
	<h1 style="margin-top:50px;">Summary</h1>
	<table id="tableData" class="table table-bordered table-striped">
   <thead>
    <tr>
              <th>Driver Name</th>
              <th>Rating</th>
              <th>Total No. of Trips</th>
            </tr>
  </thead>
          <tbody ng-repeat="item in data">
    <tr>
              <td>{{ item.drivername }}</td>
              <td>{{ item.rating }}</td>
              <td>{{ item.nooftrips }}</td>
              
            </tr>
   
  </tbody>
        </table>
        
         <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>

    <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
 </div>
       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>